# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.venv/
venv/
env/

# Build
build/
dist/
*.egg-info/

# Logs and outputs
logs/
outputs/
runs/
wandb/
reports/*.csv
reports/*.json

# Data
data/
datasets/
*.pt
*.pth
*.ckpt

# Jupyter
.ipynb_checkpoints/

# OS/editor
.DS_Store
.vscode/
.idea/